@model MedicalInstitutions.Models.Staffs.MedicalStaffs.MedicalStaff

@{
    ViewBag.Title = "Medical staff";
}

<h2>Medical staff details</h2>

<div>
    <h4>Medical staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Profile.ProfileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.ProfileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Degree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
