@model MedicalInstitutions.Models.MedicalInstitutions.Clinics.Cabinet

@{
    ViewBag.Title = "Cabinet";
}

<h2>Cabinet details</h2>

<div>
    <h4>Cabinet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClinicId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic.MedicalInstitutionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
