@model MedicalInstitutions.Controllers.RequestsController.Request9ViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Request 9";
}

<h4>Get the total number of rooms, beds of the specified hospital in general and for each department, as well as the number of free beds in each department and the number of completely free rooms</h4>


<form method="get">
    <div class="form-inline">

        @Html.Label("Hospital", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.HospitalId, Model.Hospitals as SelectList,
                htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="col-md-10">
            <input type="submit" value="Filter" class="btn btn-default" />
        </div>
    </div>
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Department name")
        </th>
        <th>
            @Html.DisplayName("Total number of wards")
        </th>
        <th>
            @Html.DisplayName("Total number of free wards")
        </th>
        <th>
            @Html.DisplayName("Total number of beds")
        </th>
        <th>
            @Html.DisplayName("Total number of free beds")
        </th>
    </tr>

    @foreach (var item in Model.HospitalDepartmentsStats)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalWards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfFullyFreeWards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfFreeBeds)
            </td>
        </tr>
    }
    
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayFor(model => model.HospitalStats.Name)
                </th>
                <th>
                    @Html.DisplayFor(model => model.HospitalStats.TotalWards)
                </th>
                <th>
                    @Html.DisplayFor(model => model.HospitalStats.NumOfFullyFreeWards)
                </th>
                <th>
                    @Html.DisplayFor(model => model.HospitalStats.TotalBeds)
                </th>
                <th>
                    @Html.DisplayFor(model => model.HospitalStats.NumOfFreeBeds)
                </th>
            </tr>
        </tfoot>

</table>

Page @(Model.HospitalDepartmentsStats.PageCount < Model.HospitalDepartmentsStats.PageNumber ? 0 : Model.HospitalDepartmentsStats.PageNumber) of @Model.HospitalDepartmentsStats.PageCount
@Html.PagedListPager(Model.HospitalDepartmentsStats, PageNum =>Url.Action("Request9",
    new
    {
        pageNum = PageNum,
        hospitalId = Model.HospitalId,
    }))