@model MedicalInstitutions.Models.MedicalInstitutions.Hospitals.HospitalDepartment

@{
    ViewBag.Title = "Hospital department";
}

<h2>Hospital department details</h2>

<div>
    <h4>Hospital department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiseaseGroup.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiseaseGroup.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalBuildingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalBuilding.HospitalBuildingName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
