@model MedicalInstitutions.Models.Patients.Visit.ClinicVisit

@{
    ViewBag.Title = "Clinic visit";
    var visitDate = Model.VisitDate.ToString("dd.MM.yyyy");
}

<h2>Clinic visit details</h2>

<div>
    <h4>Clinic visit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiseaseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disease.DiseaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.MedicalStaffName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => visitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitDateFormat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CabinetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cabinet.CabinetName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
