@model PagedList.IPagedList<MedicalInstitutions.Models.Patients.Visit.ClinicVisit>
@using PagedList.Mvc
@{
    ViewBag.Title = "Clinic visit";
}

<h2>Clinic visits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Disease.DiseaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DoctorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CabinetId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disease.DiseaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.MedicalStaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDateFormat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cabinet.CabinetName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, PageNum =>Url.Action("Index",
    new { PageNum }))
